<h1> Welcome to UpR00T </h1>

<% if logged_in? %>

	<p>Hi, <%= current_user.first_name %>!</p>
	<p>
		<a href="/logout"> Logout</a>
	</p>

	<!-- A listing of all of the moves available to this user with a nice icon to go along with each one -->

	<ul>
		<li>
	<% @moves.each do |move| %>
		<p><a href="/moves/<%= move.id %>"> <%= move.name %> </a></p>
		<p><a href="/moves/<%= move.id %>/edit"> Edit Move </a></p>

		<p><%= link_to "Delete Move", move_path(move.id), :method => :delete %></p>
	<% end %>
		</li>
	</ul>


	<!-- create a new move -->
	<p>
	  <li><a href="/moves/new"> Create a New Move</a></li>
	</p>

<% else %>
<!-- 
redirect to homepage -->

<% end %>