<%= @move.name %>
<p><a href="/belongings/<%= @move.id %>/new" > Add Belongings </a></p>
<ul>
	<p>Move Details</p>
	<li><strong>Move name:</strong> <%= @move.name %></li>
	<li><strong>Description:</strong> <%= @move.description %></li>
	<li><strong>Start Address:</strong> <%= @move.start_address %>; <%=@move.start_city%>, <%=@move.start_state%> <%=@move.start_zip %></li>
	<li><strong>New Address:</strong> <%= @move.target_address %>; <%=@move.target_city%>, <%=@move.target_state%> <%=@move.target_zip %></li>
	<li><strong>Budget:</strong> <%= @move.target_budget %></li>
	<li><strong>Moving Parameters (Move-out/Move-in):</strong> <%= @move.move_out_date %> : <%= @move.move_in_date %> </li>

</ul>

<ul>
<% @move.belongings.each do |belonging| %>
	<li>
		<img src="<%= belonging.picture_url %>">
		<%= belonging.name %>
		<a href="<%= edit_belonging_path(belonging.id) %>">EDIT</a>
		<%= link_to 'Delete', belonging_path(belonging.id), :method => :delete %>	
	</li>

<a href="/moves"> Moves Homepage </a>

<% end %>
</ul>
